@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
  background-color: rgb(236, 236, 236);
}
.header{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}
.container{
  margin-left:auto;
  margin-right:auto;
  font-family:'Work Sans', sans-serif;
  font-style:bold;
}
.table-content{
  border-collapse: collapse;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.thead1{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  border-bottom: 3px;
  background-color: #0A66C2;
  color:#ffffff;
  border-radius: 10px;
  border-collapse: collapse;
}
.lihatnilai{
  align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 38px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin: 10px;
  }
  
  .lihatnilai:hover,
  .lihatnilai:focus { 
    background-color: #16437E;
    color: #ffffff;
    vertical-align: middle;
  }
  
  .lihatnilai:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
    vertical-align: middle;
  }
  
  .lihatnilai:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
    vertical-align: middle;
  }
  .a{
    color: #ffffff;
    text-decoration: none;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Work Sans' sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
.styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}